page-single-category {
    .toolbar-background{
        background-size:cover !important; 
        background-image: url('../../assets/img/Category_bg.png') !important;
    }.row img {
        width: 40%;
        display: inline;
    }.ion-row{
        display: table;
        background: #efefef;
        padding: 1.5%;
    }.ion-row .col {
        display: table-cell;
        vertical-align: middle;
    }.ion-row .col-1 {
        width: 30%;
        padding-right: 1em;
    }.ion-row .col-2 {
        width: 100%;
    }ion-avatar img {
        border-radius: 100%;
    }


}
