page-single-category {
    .toolbar-md-primary .toolbar-background-md{
        background-size:cover; 
        background-image: url('../../assets/img/Category_bg.png')
    }.row img {
        width: 40%   ;
        display: inline;
    }.ion-row.UserList-Test{
        display: table;
        background: #efefef;
        padding: 1.5%;
    }.ion-row .col {
        display: table-cell;
        vertical-align: middle;
    }.ion-row .col-1 {
        width: 30%;
    }.ion-row .col-2 {
        width: 70%;
    }

}
