page-login{
    .fixed-content, .scroll-content {
        margin-top: auto !important;
    }.LoginButton{
        color: #fff;
        background-color: transparent;
        border: 1.5px solid #dc9a01;
        padding: 20px 0px !important;
        border-radius: 15px;
        width: 50%;
        margin: 0px auto;
    }
}

