page-splash {
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }.center-horizontal{
        text-align: center;
        display: block;
        width: 100%;
    }.fixed-content, .scroll-content {
        margin-top: auto !important;
    }.center-horizontal img {
        max-width: 55%;
    }
}
