page-categories {

    .ListItem ion-avatar {
        position: relative;
    }.ListItem {
        margin-bottom: 15px;
    }.toolbar-background {
        background-image: url(../../assets/img/Category_bg.png) !important;
        background-size: contain !important;
    }

}
